@import url(./fonts.css);
@import url(./partials/_variables.css);



.mr-auto{
    margin-right: auto;
}


/* Navigation start*/



.header_area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;
}

.header_area .main-menu .navbar{
    padding: 1rem 20rem;
}

.header_area .main-menu .nav-item .nav-link{
    font:normal 500 15px/2px var(--roboto);
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--title-color);
}


.header_area .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav  a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
/* Navigation start*/   

/*Banner Area*/
.site-main .site-banner{
    background-color: black;
    background-position: 0% 50%;
}
/*End Banner Area*/